<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css')}}">
    {% if page == "detail" %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/detail.css')}}">
    {% endif %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Шапка -->
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <i class="fas fa-balance-scale"></i>
                <span>Система мировых судей</span>
            </div>
            <div class="user-info">
                <span id="userName">{{ full_name }}</span>
                <div class="user-role" id="userRole">{{ role_value }}</div>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- Боковая панель -->
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul>
                    {% if role == 'SECRETARY' %}
                    <li class="nav-item">
                        <a href="/requests" class="nav-link">
                            <i class="fas fa-list-alt"></i>
                            <span>Мои заявки</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/create" class="nav-link">
                            <i class="fas fa-plus-circle"></i>
                            <span>Создать заявку</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if role == 'JUDGE' %}
                    <li class="nav-item">
                        <a href="/requests" class="nav-link">
                            <i class="fas fa-list-alt"></i>
                            <span>Заявки секретаря</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if role == 'EXECUTOR' %}
                    <li class="nav-item">
                        <a href="/requests" class="nav-link">
                            <i class="fas fa-list-alt"></i>
                            <span>Заявки на исполнения</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if role == 'MANAGEMENT' %}
                    <li class="nav-item active">
                        <a href="/dashboard" class="nav-link">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Дашборд</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/requests" class="nav-link">
                            <i class="fas fa-list-alt"></i>
                            <span>Все Заявки</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/statistics" class="nav-link">
                            <i class="fas fa-chart-bar"></i>
                            <span>Статистика</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if role == 'MANAGEMENT' or role == 'EXECUTOR'%}
                     <li class="nav-item">
                        <a href="/planning" class="nav-link">
                            <i class="fa-solid fa-box-archive"></i>
                            <span>Планирование</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="/references" class="nav-link">
                            <i class="fas fa-book"></i>
                            <span>Справочники</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- Основной контент -->
        <main class="main-content">
			{% block content %}{% endblock %}
		</main>
	</div>

    <!-- Уведомления -->
    <div id="notification" class="notification hidden">
        <div class="notification-content">
            <span id="notificationMessage"></span>
        </div>
    </div>

	<script src="{{ url_for('static', path='js/app.js') }}"></script>
    {% if page == "create" %}
	<script src="{{ url_for('static', path='js/create.js') }}"></script>
    {% elif page == "requests" %}
    <script src="{{ url_for('static', path='js/requests.js') }}"></script>
    {% elif page == "detail" %}
    <script src="{{ url_for('static', path='js/detail.js') }}"></script>
    {% elif page == "edit" %}
    <script src="{{ url_for('static', path='js/edit.js') }}"></script>
    {% elif page == "redirect" %}
    <script src="{{ url_for('static', path='js/redirect.js') }}"></script>
    {% endif %}
</body>
</html>