{% extends "base.html" %}

{% block content %}
<h1><i class="fas fa-file-signature"></i> Подписание PDF документов с КриптоПРО</h1>
<div id="pluginStatus"></div>
<div class="signature-container">
    <h3><span class="step-number">1</span> Загрузка сертификатов</h3>
    <button class="btn btn-primary" onclick="loadCertificates()" id="loadCertsBtn" disabled>
        <i class="fas fa-certificate"></i> Загрузить сертификаты
    </button>
    <div id="certificatesList"></div>
    <div id="certStatus" class="status info">
        <i class="fas fa-info-circle"></i> Выберите сертификат для подписания документа
    </div>
</div>

<div class="signature-container">
    <h3><span class="step-number">2</span> Подписание документа</h3>
    <button class="btn btn-primary" onclick="signPDF()" id="signBtn" disabled>
        <i class="fas fa-signature"></i> Подписать документ
    </button>
    <div id="signStatus" class="status info">
        <i class="fas fa-info-circle"></i> После выбора сертификата вы сможете подписать документ
    </div>
</div>

<div class="signature-container">
    <h3><span class="step-number">3</span> Загрузка подписанного документа</h3>
    <button class="btn btn-primary" id="downloadBtn" disabled>
        <i class="fas fa-download"></i> Скачать подписанный PDF
    </button>
    <div id="downloadStatus" class="status info">
        <i class="fas fa-info-circle"></i> После подписания документа вы сможете его скачать
    </div>
</div>

<div class="signature-container">
    <h3>Назад</h3>
    <a class="btn btn-primary" id="backRequest" style="width: 14rem;">
        <i class="fa-solid fa-arrow-left"></i> Вернуться к заявке
    </a>
</div>
{% endblock %}